<mod name="rain_on_all_heists" global_key="ROAH">
    <Hooks directory="Hooks">
        <hook file="criminalsmanager.lua" source_file="lib/managers/criminalsmanager"/>
        <hook file="coresequencemanager.lua" source_file="core/lib/managers/coresequencemanager"/>
        <hook file="levelstweakdata.lua" source_file="lib/tweak_data/levelstweakdata"/>
        <hook file="networkpeer.lua" source_file="lib/network/base/networkpeer"/>
        <hook file="environmenteffectsmanager.lua" source_file="lib/managers/environmenteffectsmanager"/>
    </Hooks>

    <Localization directory="Localization" default="english.txt">
        <!--<localization language="" file=".txt"/>-->
    </Localization>

    <Options name="Options" auto_build_menu="true" auto_load="true">
        <options title_id="ROAH_Options_Title" desc_id="ROAH_Options_Desc">
            <merge_data area_bg="half"/>
                <option type="bool" default_value="true" name="enable_snow" title_id="ROAH_Options_Enable_Snow_Title" desc_id="ROAH_Options_Enable_Snow_Desc"/>
                <option type="number" default_value="50" min="0" max="100" name="chance_snow" step="5" show_value="true" title_id="ROAH_Options_Chance_Snow_Title" desc_id="ROAH_Options_Chance_Snow_Desc"/>
                <option type="bool" default_value="true" name="enable_rain" title_id="ROAH_Options_Enable_Rain_Title" desc_id="ROAH_Options_Enable_Rain_Desc"/>
                <option type="number" default_value="50" min="0" max="100" name="chance_rain" step="5" show_value="true" title_id="ROAH_Options_Chance_Rain_Title" desc_id="ROAH_Options_Chance_Rain_Desc"/>
                <option type="bool" default_value="true" name="enable_coats" title_id="ROAH_Options_Enable_Coats_Title" desc_id="ROAH_Options_Enable_Coats_Desc"/>
                <option type="bool" default_value="false" name="enable_sneak" title_id="ROAH_Options_Enable_Sneak_Title" desc_id="ROAH_Options_Enable_Sneak_Desc"/>
                <option type="bool" default_value="true" name="enable_coats_on_rain" title_id="ROAH_Options_Enable_Coats_On_Rain_Title" desc_id="ROAH_Options_Enable_Coats_On_Rain_Desc"/>
                <option type="bool" default_value="true" name="enable_skybox" title_id="ROAH_Options_Enable_Skybox_Title" desc_id="ROAH_Options_Enable_Skybox_Desc"/>
                <option type="number" default_value="50" min="0" max="100" name="chance_night" step="5" show_value="true" title_id="ROAH_Options_Chance_Night_Title" desc_id="ROAH_Options_Chance_Night_Desc"/>
        </options>
    </Options>
    <AddFiles file="add.xml"/>
</mod>
